########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

conn {{ connection }}
{%- for k, v in data.items() %}
    {{ k }}={{ v }}
{%- endfor %}

