########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{% if secrets %}
# include secrets configurations
include {{ dropin_dir }}/*.secrets
{% endif %}
