########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

# basic configuration
config setup
{%- for k, v in salt['pillar.get']('strongswan:config', {}).items() %}
    {{ k }}={{ v }}
{%- endfor %}

{% if conn_default -%}
conn %default
  {%- for k, v in conn_default.items() %}
    {{ k }}={{ v }}
  {%- endfor %}
{%- endif %}

{% if conn_dropin -%}
# include connections configurations
include {{ dropin_dir }}/*.conf
{% endif %}
